name: Create and publish a Docker image

# Configures this workflow to run every time a change is pushed to the branch called `mongo-integrated`.
on:
  push:
    branches: ['main']

# Defines a custom environment variable for the Docker image name.
env:
  IMAGE_NAME: fe-apjii-mitra-dc

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Uses the `docker/login-action` action to log in to the Container registry registry using the account and password that will publish the packages. Once published, the packages are scoped to the account defined here.
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      # This step extracts metadata (tags, labels) for Docker.
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}

      # This step increments the version tag.
      - name: Increment version
        id: increment-version
        run: |
          # Extract current tags
          tags=${{ steps.meta.outputs.tags }}
          if [[ "$tags" =~ ([0-9]+\.[0-9]+\.[0-9]+) ]]; then
            version="${BASH_REMATCH[1]}"
          else
            version="0.0.0"
          fi
          # Increment patch version
          IFS='.' read -r -a version_parts <<< "$version"
          patch=${version_parts[2]}
          new_patch=$((patch + 1))
          new_version="${version_parts[0]}.${version_parts[1]}.$new_patch"
          echo "new_version=$new_version" >> $GITHUB_ENV

      # Enable BuildKit for Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      # This step builds and pushes the Docker image.
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:latest
            ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ env.new_version }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:buildcache,mode=max